<p id="notice"><%= notice %></p>

<h1><%= BookLoan.count %> Book Loans</h1>

<table>
  <thead>
    <tr>
      <th>Due</th>
      <th>Returned</th>
      <th>Person</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_loans.each do |book_loan| %>
      <tr>
        <td><%= book_loan.due %></td>
        <td><%= book_loan.returned %></td>
        <td><%= book_loan.person.name %></td>
        <td><%= book_loan.book.name %></td>
        <td><%= link_to "Show", book_loan %></td>
        <td><%= link_to "Edit", edit_book_loan_path(book_loan) %></td>
        <td><%= link_to "Destroy", book_loan, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Book Loan", new_book_loan_path %>
