<p id="notice"><%= notice %></p>

<p>
  <strong>Due:</strong>
  <%= @book_loan.due %>
</p>

<p>
  <strong>Status</strong>
  <% if @book_loan.returned %>
    Returned
  <% else %>
    On Loan
  <% end %>
</p>

<p>
  <strong>Person:</strong>
  <%= @book_loan.person.name %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_loan.book.name %>
</p>

<%= link_to "Edit", edit_book_loan_path(@book_loan) %> |
<%= link_to "Back", book_loans_path %>
