<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Isbn</th>
      <th>Status</th>
      <th>Borrow</th>
      <th>Return</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td>
          <% if book.book_loans.count == 0 %>
         Available 
         <% else %>
          <%= link_to "On Loan", book_loan_path(book.book_loans.first) %>
        <% end %>
        </td>
        <td>
          <% if book.book_loans.count == 0 %>
            <%= form_for :book, url: loan_book_path, method: :post do |f| %>
              <%= f.hidden_field :book_id, value: book.id %>
              <%= f.submit(:read.capitalize, {:class => 'btn btn-info'}) %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if book.book_loans.first && book.book_loans.first.person_id == session[:current_user_id] %>
            <%= form_for :book_loan, url: return_book_path, method: :patch do |f| %>
              <%= f.hidden_field :book_loan_id, value: book.book_loans.first.id %>
              <%= f.submit(:return.capitalize, {:class => 'btn btn-info'}) %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to "Show", book %></td>
        <td><%= link_to "Edit", edit_book_path(book) %></td>
        <td><%= link_to "Destroy", book, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Book", new_book_path %>
