<%= form_for :person, url: login_path, method: :post do |f| %>
    <% if @errors %>
        <% @errors.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>
    <p>
        <%= f.label :name %>
        <%= f.text_field(:name, { :class => "form-control" }) %>
    </p>
    <p>
        <%= f.submit(:login.capitalize, { :class => "btn btn-info" }) %>
    </p>
<% end %>