<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div class="container" style="padding: 0 10% 0 10%">
      <div class="nav" style="display: flex; flex-direction: row; justify-content: space-between; width: 100%">
        <div class="nav-links" style="display: flex; flex-direction: row; justify-content: space-around; width: 300px">
          <div>
              <%= link_to "Books", books_path, :class => "nav-link" %>
          </div>
          <div>
              <%= link_to "People", people_path, :class => "nav-link" %>
          </div>
          <div>
              <%= link_to "Loans", book_loans_path, :class => "nav-link" %>
          </div>
        </div>
        <div>
          <% if session[:current_user_id] %>
            <%= Person.find_by(id: session[:current_user_id]).name %>
            <%= link_to "Logout", logout_path, :class => "nav-link" %>
          <% else %>
            <%= link_to "Login", login_path, :class => "nav-link" %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
